<footer>

	<div class="col">
		<h3>Sign Up</h3>

		<ul>
		    <li><a id="inline" href="#notify_me"><img src="/static/email.png"/></a></li>         
		</ul>
	</div>

    <div class="col">
        <h3 id="learn_more">Learn More</h3>

        <ul>
        	<li><a href="/about">About</a></li>
					<li><a href="/posts/thesiswork">Thesis Work</a></li>
          <!-- <li><a href="/coursework">Coursework</a></li> -->
        </ul>
    </div>	


	<div class="col">
		<h3>Check out</h3>

        <ul>
						<li><a href="/posts/notes/cv.html">CV</a></li>
            <li><a href="/posts">Posts</a></li>
            <!-- <li><a href="/posts/notes">Notes</a></li> -->
            <li><a href="/projects">Projects</a></li>
        </ul>
	</div>

    <div class="col">
        <h3>Follow Me</h3>

        <ul>
            <li><a href="https://twitter.com/intent/user?screen_name=huascarsanchez">Twitter</a></li>
            <li><a href="http://www.github.com/hsanchez">Github</a></li>
            <li><a href="http://www.linkedin.com/in/huascarsanchez">LinkedIn</a></li>
        </ul>
    </div>

	<div style="display:none">
		<!-- <div id="data">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div> -->
    	<div class="modal_box" id="notify_me">
    		<p><strong>Mailing List Signup</strong></p>
        	<p style="font-weight: 100; font-size: 14px; margin: 0 0 20px 0;" id="box_txt">Stay up to date on my latest work, news, and info! 
            </p>

        	<p id="form_txt" class="form_msg hidden"></p>

        	<form id="subscribe_form" action="http://groups.google.com/group/academic/boxsubscribe">
            	<!--suppress HtmlFormInputWithoutLabel -->
            	<input type="text" name="email" class="email" value="Type your email" id="input_email"
                   onfocus="if (this.value=='Type your email') this.value = ''"
                   onblur="if (this.value=='') this.value = 'Type your email'"/>
            	<input type="submit" value="Subscribe" class="btn"/>
        	</form>
    	</div>			
	</div>

</footer>